.card {
  max-width: 40rem;
  background-color: rgb(216, 181, 4);
  border-radius: 0.5rem;
  padding: 25px;
}

.ability-visible .ability-container {
  display: block;
}

.card.ability-visible .ability {
  display: block;
}

.ability-container {
  display: none;
}

.ability {
  display: none;
}