* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: black;
  padding: 2% 2% 5% 2%;
}

.logo-entete {
  width: 30%;
  margin: 0 auto;
}